{% extends 'base.html.twig' %}

{% block title %}Ajout d'un lieu{% endblock %}

{% block body %}
    <h3>Attention, soyer bien sûr de rentrer l'adresse exacte !</h3>
    <br>
    {{ form(form) }}
{% endblock %}
